.DS_Store
.idea
Scripts/__pycache__
Data/*231.tsv
Data/an35/*
Data/an41/*
Data/an43/*Z.nc
Data/an48/*
Data/an52/SO283_CTD.tab
Data/global_DO_field.mat
Data/an64/Contours_max_cyclo.mat
Data/an64/Trajectories_Cyclo_filt.mat

